{% extends 'layout.html.twig' %}

{% block title %}Excepción creada{% endblock %}
{% block content %}
    <div class="container">
        <h3>Creada la excepción correctamente.</h3>
    </div>
{% endblock %}