{% extends 'layout.html.twig' %}

{% block title %}Creaci贸n de una excepci贸n{% endblock %}

{% block content %}
    <div class="container">
        <h3>Creaci贸n de una excepci贸n.</h3>
        {{ form(form) }}
    </div>
{% endblock %}
