{% extends 'layout.html.twig' %}

{% block title %}Dias creados{% endblock %}
{% block content %}
    <div class="container">
        <h3>Creados los dias correctamente.</h3>
    </div>
{% endblock %}