{% extends 'layout.html.twig' %}

{% block title %}Editar un dia{% endblock %}

{% block content %}
    <div class="container">
    <h3>Dia edit</h3>
    {{ form(edit_form) }}
    </div>
{% endblock %}
