{% extends 'layout.html.twig' %}

{% block title %}Nueva reserva{% endblock %}

{% block content %}
    <div class="container">
        <h3>Nueva reserva</h3>
        {{ form(form) }}
    </div>
{% endblock %}