{% extends 'layout.html.twig' %}

{% block title %}Fiesta creada{% endblock %}
{% block content %}
    <div class="container">
        <h3>Creada la fiesta correctamente.</h3>
    </div>
{% endblock %}