{% extends 'layout.html.twig' %}

{% block title %}Creación de una fiesta{% endblock %}

{% block content %}
    <div class="container">
        <h3>Creación de una fiesta.</h3>
        {{ form(form) }}
    </div>
{% endblock %}
