{% extends 'layout.html.twig' %}

{% block title %}Franjas creadas{% endblock %}
{% block content %}
    <div class="container">
        <h3>Creadas las franjas correctamente.</h3>
    </div>
{% endblock %}