{% extends 'layout.html.twig' %}

{% block title %}Franjas horarias{% endblock  %}

{%  block content %}
    <div class="container">
        <h1>Franjas horarias</h1>
        <a href="{{ path('franjas_create') }}"> Crear las franjas horarias por primera vez.</a>
    </div>
{% endblock %}