{% extends 'layout.html.twig' %}

{% block title %}Horario{% endblock %}

{% block content %}
    <div class="container">
        <h3>Horario</h3>
        <ul>
            <li><a href="{{ path('horario_new') }}">Crear un horario</a></li>
        </ul>
    </div>
{% endblock %}