{% extends 'layout.html.twig' %}

{% block title %}Nuevo horario{% endblock %}

{% block content %}
<div class="container">
    <h3>Crea un nuevo horario</h3>
    {{ form(form) }}
</div>
{% endblock %}